aside {
  display: flex;
  flex-direction: column;
  z-index: 1;
  position: sticky;
  overflow: hidden;
  width: 47px;
  height: 100vh;
  padding: 10px 0;
  background: var(--block-background);
  border-right: 1px solid var(--block-border-color);
  color: var(--text-color);
  transition: width 0.3s ease;
}

aside.show {
  width: 250px;
}

.toggle-button {
  background: var(--block-background);
  border: none;
  cursor: pointer;
  padding: 5px 10px;
  border-radius: 0 4px 4px 0;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  color: var(--text-color);
  font-size: 24px;
  margin-bottom: 1rem;
}