.main-footer {
  height: 40px;
  padding: 10px;  
  background-color: var(--block-background);
  border-top: 1px solid var(--block-border-color);
  text-align: center;
  box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1);  
}

h3 {
  margin: 0;
  font-size: 16px;  
  color: var(--text-color);  
}